<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="css/styles.css" >
</head>
<body>
  <ul>
    <li>Home</li>
    <li>Contact Us</li>
    <li>About Us</li>
  </ul>

  <%= yield %>

  <hr />
  <p>Copyright 2015</p>
</body>
</html>